*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables.scss";
@import "./nav.scss";
@import './moviesList.scss';
@import './login.scss';

body{
  font-family: $font_1;
}

.container{
  max-width: 60%;
  margin: 10px auto;
}

a{
  text-decoration: none;
  color:inherit;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 10px 0;
  // input{
  //   border-radius: 5px;
  //   border: none;
  //   padding: 5px 10px;
  //   box-shadow: 0px 2px 3px gray;
  //   background-color: transparent;
  //   cursor: pointer;
  //   &:hover{
  //     background-color: rgba(gray,0.1);
  //     box-shadow: 0px 2px 6px black;
  //   }
  // }
}

@media screen and (max-width:768px){
  .container{
    max-width: 95%;
  }
}

@media screen and (max-width:1024px){
  .container{
    max-width: 75%;
  }
}
