*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables.scss";
@import "./nav.scss";
@import './moviesList.scss';
@import './login.scss';

body{
  font-family: $font_1;
}

.container{
  max-width: 60%;
  margin: 10px auto;
}

a{
  text-decoration: none;
  color:inherit;
}

@media screen and (max-width:768px){
  .container{
    max-width: 95%;
  }
}

@media screen and (max-width:1024px){
  .container{
    max-width: 75%;
  }
}
