@import url('https://fonts.googleapis.com/css?family=Gayathri|Playfair+Display&display=swap');

$font_1 : 'Gayathri', sans-serif;
$font_2 : 'Playfair Display', serif;

$color_1 : teal;
$color_2 : cyan;

$text_color_1 : lavenderblush;
$text_color_2 : #2f2f2f;
